/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

body {
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #FFFFFF;
  width: 60%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-image: url('apple-header.jpg');
  background-size: cover;
  background-position: center;
  height: 500px; /* Adjust based on your image aspect ratio */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF; /* Assuming white text for visibility */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional shadow for better readability */
  margin-bottom: 20px;
}

h1 {
  font-size: 4em;
  margin: 10;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  
}

h2 {
  margin-top: 40px;
  margin-left: 80px;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: bold;
}

p {
  margin-left: 80px;
  margin-right: 80px;
  font-size: 1.5em;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

ul {
  margin-left: 140px;
  margin-bottom: 10px;
  font-size: 1.5em;
  list-style-type: disc;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

}

.info-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-left: 250px;
  margin-right: 250px;
  font-size: 0.9em;
  color: #666;
}

.info-item {
  display: flex;
  align-items: center;
}

.info-item img {
  width: 20px; /* Adjust size as needed */
  height: auto;
  margin-right: 8px;
  transition: filter 0.3s ease;
}

.info-item p {
  margin: 0;
}

.info-time:hover img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(95%) saturate(7462%) hue-rotate(331deg) brightness(92%) contrast(119%);
}

.info-portions:hover img {
  filter: invert(12%) sepia(100%) saturate(7490%) hue-rotate(246deg) brightness(90%) contrast(101%);
}

.info-calories:hover img {
  filter: brightness(0) saturate(100%) invert(47%) sepia(99%) saturate(747%) hue-rotate(100deg) brightness(107%) contrast(101%);
}
.divider {
    border: none;
    height: 1px;
    background-color:black; /* цвет линии */
    margin: 50px; /* отступы сверху и снизу */
}
